
@{
    ViewData["Title"] = "Index";
}
@model List<Product>
<h1>Ürünler</h1>
<a asp-controller="product" asp-action="add">Ekle </a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Isim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yükseklik</th>
            <th>Genişlik</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>@item.Height</td>
                <td>@item.Width</td>
                <td>
                    <a asp-controller="product" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                    <a asp-controller="product" asp-action="update" asp-route-id="@item.Id">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
